/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
body{
  background: url(pexels-tranmautritam-326503.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p{
 
  /*font-size: calc(1.5vw + 1.5vh);*/
}

ul{
  display: grid;
  grid-gap:10px;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  
}
.logo {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0 2rem;
  color:rgba(43, 44, 170);


}

.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
  color:rgba(43, 44, 170);

}
.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: rgba(43, 44, 170);;
  transition: transform 0.75s ease, opacity 0.75s ease;

}
.card{
  padding:1.5rem;
}

.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}
.main-nav.show .nav-links {
  transform: translateX(0%);
}
#portfolio{
  display: grid;
  grid-gap:20px;
  grid-template-areas:
  'nv     nv'
  'card   '
  'info   info'

}
 

#clock {
  text-align: center;
  background-color: gainsboro;
  max-width: 40rem;
}
.clock{
  text-align: center;
}

span {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 30px;
	text-align: center;
	font-size:calc(1.5rem + 4vw);
  color:rgba(43, 44, 170);
  background-color: gainsboro;
}

a, p, h2{
	font-size:calc(1rem + 2vw);
  color:rgba(43, 44, 170);
}
.tech{
  margin: 2%;
  font-size:calc(2rem + 2vw);
}
.button-div{
	visibility:visible;
}
.p{
  background-color: gainsboro;
  padding: 1.4rem;
}
/*@media screen and (max-width: 800px) {
  .nav-links {
    width:30%;
    display: inline;
    padding:10px;
  }
}
@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }
}
