*{
    font-family:'Poppins', sans-serif;
}

body{

}
nav{
    
}
a{
    /* font-size: 0.5em; */
    /* text-decoration: none; */
    color: cornflowerblue;
}
.menu, .submenu{
    list-style-type: none;
}
.logo{
      width:40%;
      height:auto;
      float:left;
}
.li{
    padding: 10px;
}
.li.button{
    padding: 9px 5px;
}
.li:not(.button) a:hover,
.li a:hover::after{
    color: #000;
    border-radius: 10px;
}
/*mobile menu*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.menu li a{
    display: block;
    padding: 15px 15px;
}
.menu li.subL a {
    padding: 15px;
}
.toggle{
    position:relative;
    top:20px;
    left:20px;
    order: 1;
    font-size:16px;
}
.li.button{
    order: 2;
}
.li{
    order: 3;
    width: 100%;
    display:none;
    text-align: center;
}
.active .li{
    display: block;
}
.submenu{
    display: none;
}
.button{
    border-radius: 1px #444 solid;
}
.submenu-active .submenu{
    display: block;
}
.has-submenu > a::after{
    font-family: 'FontAwesome';
    content: '\f054';
     font-size:16px;
     line-height: 16px;
     font-weight: 900;
     color: white;
     padding-left:5px;
}
.subli a {
    padding: 10px 15px;
}
.submenu-active{
    border-radius:3px;
    color: black;
}
/*mobile main container*/
.main{margin:auto;
    max-width:100%;
}
.div1{
    /* font-size:1em; */
   
}
.slideShow-contianer{
    max-width:100%;
    position:relative;
    margin:auto;
}
.pgIi{
     max-width:100%;
     height:auto;
}
.pgIii{
    max-width:100%;
    height:auto;
}
.div1b{
    margin:20px;
    font-size: 1em;
}
.div1b > p{
    line-height:1em;
    padding:6px;
    font-weight:500;
}
.col > h2{                                
    font-size:1.7em;
}
.div1b > img {
    display: none;
}
.div2{
    /* font-size: 1em; */
    text-align: center;
}
.vision, .mission, .history{
   font-size:1em;
}
#rwdc{
    background-color:hsl(140, 10%, 30%)
}
#rwdc >h3 {
    font-size:1.4em;
}
.row> h2{
    font-size:1.7em;
}
.div3i > em{
    display: inline-flex;
    flex-wrap: wrap;
    padding:20px;
    color: cornflowerblue;
    line-height:25px;
}
.div3i > h4{
    color: cornflowerblue;
    padding:9px;
    border-radius:15px solid white;
}
#div3i{width:70%;
      height: auto;
   
}

.div3ii{
    display: inline-flex;
}
.div3iic{
    /* width:50%; */
    padding: 3px;
}
.div3iic > p{
    color: cornflowerblue;
    font-weight:450;
    
}
#li1{
    color: cornflowerblue;
    /* font-weight: 700; */
    padding: bottom 15px;


}
.try{
    
    
}
#trychld{
    
}
.tryc{
}

#tryc2 > #trychldi{
   
}
#trychldi{

}

  a:hover {
    text-decoration: none;
    opacity:0.3;
  }
.div4ii > P{
    font-weight:400;
    line-height:20px;
    font-size:xx-large;
    color: cornflowerblue;
}
img#div3i{
    width:100%;
    height: 100%;
}
th,tr,td{
   padding: 20px;
   font-weight: 700;
    line-height:20px;
    color: cornflowerblue;
}
footer{
    background-color:hsl(140, 10%, 30%)
     
}
.foot{
   
}
#ftC1{

}

#fti{
    /* max-width:100%; */
    /* height:auto; */
}
#ftC2{/* display: block; */}
#fta{
   
}
#ftC3{  

}
.focus{

}




/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


/*Tablet menu*/
@media all and (min-width:700px){
    .menu{
        justify-content: center;
    }
   
    .logo{
        flex:1;
    }
    .toggle{
        position:relative;
        top:100px;
        flex:1;
        text-align:right;
        order:2;
        padding-right:30px;
    }
    .li.button{
        position:relative;
        top:50px;
        width:auto;
        display:block;
        order:1;
    }
   
    /*tablet main*/
   
}

/*desktop menu*/
@media all and (min-width:990px){
   
    .li{
        order:1;
        position: relative;
        top:10px;
        display:block;
        width:auto;
    }
    .logo{
        width:auto;
        height: 150px;
        float:left;
    }
    .button{
        order:2;

    }
    .submenu-active .submenu{
        background-color:white;
        display: block;
        position: absolute;
        left:0;
        top: 68px;
        
    }
    .toggle{
        display: none;
    }
    .submenu-active{
        border-radius: 0;
        color: black;
    }
      /*desktop main*/
    .div1{display:inline-flex;

    }
   
    .pgIi{
        max-width:100%;
        height:auto;
    }
    .pgIii{
        max-width:100%;
        height:auto;
    }
    .div1b{
        
    }
  
    .div2{
        display:inline-flex;
        margin:10px 29px;
    }
    .div2 > h2 {
        display:none;
    }
    .rwdc{
        margin:10px 39px;
    }
    .div2 > h4, p {
        padding: 9px;
    }
    .div3{
        display:inline-flex;
        margin:5px;
    }
    .div3 >.div3i {
        height:50%;
        width:60%;
        background-color:cornflowerblue;
    }
    .div3i > h4{
        color: black;
        margin:3px;
        text-align: center;
    }
    .div3i > em{
        color: black;
        letter-spacing: 1px;
    }
    .div3ii{
     width:40%;
    margin: 3px 5px
    }
    .div3ii > #div3i{
    height:300px;
    width: auto;
    }
    #try{
        display:inline-flex;
        margin:0 19px;
    }
    #trychld{
        margin:0 21px;
    }
    #trychldi{
        width: auto;
        height:50px;
        text-align:center;
        margin:0px 19px;
    }
    #li1{
        letter-spacing: 1px;
        margin: 0px 18px;
        font-weight: thin;
        font-size: 13px;
        color: cornflowerblue; 
    }
    table{
        height:90%;
    }
    #ftC1{
     
    }
    #fti{
        max-width:100%;
        height:auto;
    }
    #ftC2{
       
    }
    #ftC2a{
       
    }
    #ftC2b{
      
    }
    #ftC3{
        

    }
    .icons{
     
      
    } 
    .icons > span{
        
    }

}
