*{
    /*background: #fff;*/
    font-family: Nunito Sans,Helvetica,Arial,sans-serif;
    line-height:2;
    font-size:100%;
}

   p.card-text.p-2{
       font-size:1.4rem;
   }
#learnMore{
    background:cornflowerblue;
    color:#000;
    padding:0.2rem 0.4rem;
}
.journal-description > a {
    text-decoration:none;
    font-size:0.85rem;
}
img.cc.responsive-image{
    margin:0.2rem 0.9rem 0.9rem 0rem;
}
.journal-description {
    padding:0.9rem;
}
#jornDiv{
    padding: 0px 15px;
}
.slideShow-contianer{
    max-width:100%;
    position:relative;
    margin:auto;
}
.pgIi{
     max-width:100%;
     height:auto;
}
.pgIii{
    max-width:100%;
    height:auto;
}
.div1b{
    margin:20px;
    font-size: 1em;
}
.div1b > p{
    line-height:1em;
    padding:6px;
    font-weight:500;
}
.col > h2{                                
    font-size:1.7em;
}
.div1b > img {
    display: none;
}
.div2{
    font-size: 1em; 
    text-align: center;
}*/
.vision, .mission, .history{
   font-size:1em;
}
#rwdc{
    background-color:hsl(140, 10%, 30%)
}
#rwdc >h3 {
    font-size:1.4em;
}
.row> h2{
    font-size:1.7em;
}
.div3i > em{
    display: inline-flex;
    flex-wrap: wrap;
    padding:20px;
    color: cornflowerblue;
    line-height:25px;
}
.div3i > h4{
    color:hsl(140, 10%, 30% );
    padding:9px;
    border-radius:15px solid white;
}
#div3i{width:70%;
      height: auto;
   
}
#icon{
    
}

#values > h3{
    border-bottom:3px solid cornflowerblue;;
}
#mission > h3{
    border-bottom:3px solid cornflowerblue;;
}
#vision > h3 {
    border-bottom:3px solid cornflowerblue;;
    border-radius:10px;
}
#mm{
border: 2px inset cornflowerblue;
}
.ig{
    float:left;
	margin-right:5px;
	height:auto;
    width:50%;
}
nav{
    background:cornflowerblue;
}
footer{
    background:cornflowerblue;;
}
body > P{
    color: hsl(0, 60%, 0%);
}
li > a{
    color: hsl(0, 60%, 0%);
}
.cc{
    border-top:5px solid cornflowerblue;;
}


h1{
    border-bottom-width:thin;
   
}

.learnMore{
    color:cornflowerblue;
    border-radius:25px solid cornflowerblue;
}
.block{
    display: block;
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

#show{
    display: hidden

}
/*Tablet menu*/
@media all and (min-width:700px){

}

